.childMenuStyle {
    height: 30px;
    padding-left: 25px;
    color: #e3e3e3;
    font-family: 'Titillium Web';
}

.childMenuStyle:hover {
    background-color: #d1d0d0;
    color: #262526;
    cursor: pointer;
}

.listItem:hover{
    background-color: #c39243;
    color: #f1f1f1;
    cursor: pointer;
}

.logoIndisuf:hover{
    cursor: pointer;
}
